[Unit]
Description=Deploy all my pods
After=var.mount var-cache.mount usr.mount usr-share.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/python3 /usr/local/bin/pods-compose --start
ExecStop=/usr/bin/python3 /usr/local/bin/pods-compose --stop

[Install]
WantedBy=multi-user.target
